---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/indexSidebar.astro';
import Footer from '../components/Footer.astro';
import DivLine from '../components/DivLine.astro';
import '../styles/index/indexCharacterIntroduction.css';
import '../styles/index/indexHeroBanner.css';
import '../styles/index/indexGameMechanics.css';
import '../styles/index/indexOverlayWindow.css';
import '../styles/index/indexGameScreenshot.css';
---

<!doctype html>
<html lang="zh-CN">

    <style>
    </style>

	<head>
		<BaseHead title={"早上好！梨猫猫0v0"} description={"欢迎加入卡联联盟系统"} />
	</head>

	<body>
	    {/* 导航栏 */}
		<Header />

		{/* 网页头部的巨大海报和字体 */}

		<div class="hero-banner">
		    <div class="hero-banner-blur">
		        <div class="hero-banner-slides">
		            <div class="hero-banner-slide"></div>
		            <div class="hero-banner-slide"></div>
		            <div class="hero-banner-slide"></div>
		            <div class="hero-banner-slide"></div>
		            <div class="hero-banner-slide"></div>
		        </div>
            </div>
		    <div class="hero-content">
		        <div style="
		            border-radius: 15px;
		            width: max-content;
		            font-size: 30px;
		        ">
		            <h1>卡联联盟</h1>
		        </div>
                <div style="
                    border-radius: 10px;
                    width: max-content;
                    font-size: 20px;
                ">
                    <p>卡蒂斯研究集团 & C.M.A.F.联邦系统</p>
                </div>

                {/*某种skill issue引起的抽象按钮操作*/}
                <div class="link-container">
                    <a href="/blog" class="btn"
                        style="
                        font-size: 16px;
                        white-space: nowrap;
                        background-color: rgba(0,0,0,0.3);
                        text-decoration: none;
                        border-radius: 4px; /* 圆角 */
                        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
                        width: max-content;"
                        onmouseover="this.style.transform='scale(1.15)'"
                        onmouseout="this.style.transform='scale(1)'"
                    >
                        松下姐发电
                    </a>
                    <a href="/story" class="btn"
                        style="
                        font-size: 16px;
                        margin-left: 15px;
                        white-space: nowrap;
                        background-color: rgba(0,0,0,0.3);
                        text-decoration: none;
                        border-radius: 4px;
                        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
                        width: max-content;"
                        onmouseover="this.style.transform='scale(1.15)'"
                        onmouseout="this.style.transform='scale(1)'"
                    >
                        联盟故事会
                    </a>
                </div>
            </div>
        </div>

        <DivLine color="#00ff00" height="10px" class="DivLine-HeroToMain" spacing="0vh" />

        <br>

        {/* Project-Rinkawa 首页正文部分 */}

        {/* indexCharacterIntroduction.css */}
        <div style="display: grid; grid-template-areas: 'character-container';">
            <div class="character-container">
                <video class="video-background" autoplay muted loop>
                    <source src="/video/indexCharacterIntro.mp4" type="video/mp4">
                    <!-- 后备内容（如果浏览器不支持视频） -->
                    <p>您的浏览器不支持 HTML5 视频</p>
                </video>
                <div class="character-item">
                    <div class="character-trigger-L" id="window-trigger-L"></div>
                    <div class="character-EmptyBlock"></div>
                    <div class="character-trigger-R" id="window-trigger-R"></div>
                </div>
            </div>

            {/*要套一层拟态窗口的div，让窗口锁定这一层*/}
            <div id="overlay-core">
                {/* indexOverlayWindow.css */}
                <div id="overlay-window-L">
                    <div id="indexImage-L" style="flex: 5;"></div>
                        <div id="overlay-content-ContainL" style="flex: 2; align-items: center; flex-direction: column;">
                            <div id="overlay-content-L" style="align-items: center;"></div>
                            <button id="overlay-content-BtnL"
                                    style="
                                    align-items: center;
                                    font-size: 16px;
                                    cursor: pointer;
                                    background-color: #4CAF50;
                                    color: white;
                                    border: none;
                                    border-radius: 5px;
                                    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
                            ">切换动画</button>
                        </div>
                    </div>
                    <div id="overlay-window-R">
                        <div id="overlay-content-ContainR" style="flex: 2; align-items: center; flex-direction: column;">
                            <div id="overlay-content-R" style="align-items: center;"></div>
                            <button id="overlay-content-BtnR"
                                    style="
                                        align-items: center;
                                        font-size: 16px;
                                        cursor: pointer;
                                        background-color: #4CAF50;
                                        color: white;
                                        border: none;
                                        border-radius: 5px;
                                        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
                            ">切换动画</button>
                        </div>
                        <div id="indexImage-R" style="flex: 5;"></div>
                    </div>
                </div>
        </div>

        <DivLine color="#00ff00" height="10px" class="DivLine-ScreenShot" spacing="0vh" />
        {/*网页主体*/}

        <main>
            {/* indexGameScreenshot.css */}
            {/*插画鉴赏部分——多图片幻灯片轮换，鼠标移至区块上暂停轮换*/}
            <div class="GameScreenshot-container">
                <div style="background-color: transparent; text-align: center; width: 100%; margin-bottom: 20px;">
                    <p style="font-size: 30px"><b>联盟现状</b></p>
                </div>
                <div class="GameScreenshot-content">
                    <div class="GameScreenshot-L"></div>
                    <div class="GameScreenshot-R"></div>
                </div>
            </div>

            <DivLine color="#00ff00" height="10px" class="DivLine-GameMechanics" />

            {/* indexGameMechanics.css */}
            {/*玩法展示部分——左模块为竖排多选项，右模块为对应概念图*/}
            <div class="GameMechanics-container">
                <div class="GameMechanics-title">
                    <p style="text-align: center; font-size: 30px;"><b>联盟介绍</b><p>
                </div>
                <div class="GameMechanics-image">
                    <div class="GameMechanics-L">
                            <div class="GameMechanics-L-module">模块 1</div>
                            <div class="GameMechanics-L-module">模块 2</div>
                            <div class="GameMechanics-L-module">模块 3</div>
                            <div class="GameMechanics-L-module">模块 4</div>
                            <div class="GameMechanics-L-module">模块 5</div>
                        </div>
                    <div class="GameMechanics-R" id="rightContent"></div>
                </div>
            </div>

            <DivLine color="#00ff00" height="10px" class="DivLine-storyIntroduce" />


            {/* 游戏介绍 */}
            <div class="storyIntroduce" style="background-color: transparent;">
                <p style="text-align: center; font-size: 35px;"><b>关于 卡蒂斯与联邦 联盟</b></p>
                <p style="text-align: center; font-size: 22px;">Since 244.2.5.22 LST</p>
                <p style="text-align: center; font-size: 22px;">
                    横跨数百万光年的超级星际联盟
                </p>
                <p style="text-align: left; text-indent: 2em; font-size: 18px;">
                    穿越三角星门的白色丝带，与系着铃铛的猫。
                </p>
                <p style="text-align: left; text-indent: 2em; font-size: 18px;">
                    自2099.12.21从地球撤离，经历280年（LST）的发展，C.M.A.F.联邦现已成为星系中最大的政治体。
                </p>
                <p style="text-align: left; text-indent: 2em; font-size: 18px;">
                    潜藏在卡蒂斯首星的秘密总是那么诱人，但也就是这样的秘密，令卡蒂斯研究集团以超级巨企的姿态活跃于星系舞台上。
                </p>
                <p style="text-align: left; text-indent: 2em; font-size: 18px;">
                    四大家族控制联邦系统的方方面面，八大企业组成现如今的研究集团。
                </p>
                <p style="text-align: left; text-indent: 2em; font-size: 18px;">
                    欢迎来到卡蒂斯研究集团与C.M.A.F.联邦联盟，加入联盟远征舰队，探索宇宙边缘的奥秘。
                </p>
            </div>
        </main>

		<Footer />
		<script src="../script/index/indexOverlayWindow.js"></script>
		<script src="../script/index/indexGameMechanicsImage.js"></script>
        <script src="../script/index/indexOverlaySwitch.js"></script>
        <script src="../script/index/indexGameScreenshot.js"></script>
	</body>
</html>
